.button.my-lal-button {
  color: var(--color-button-default);
  border-radius: var(--border-radius-button);

  &.mat-stroked-button {
    background-color: transparent;
    border-color: var(--border-color-stroked-button);
    color: var(--color-button-stroked);

    &:hover:not(.mat-button-disabled) {
      border-color: var(--background-color-stroked-button-hover);
      background-color: var(--background-color-stroked-button-hover);
      color: var(--color-button-stroked-hover);
    }

    &.mat-button-disabled {
      border-color: var(--border-color-stroked-button-disable);
      color: var(--color-button-stroked-disable);
    }
  }

  &.mat-flat-button {
    background-color: var(--background-color-flat-button);

    &:hover:not(.mat-button-disabled) {
      background-color: var(--background-color-stroked-button-hover);
    }

    &.mat-button-disabled {
      color: var(--color-button-default);
      background-color: var(--background-color-flat-button-disable);
    }
  }
}

.tg-button {
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  padding: 0 16px;
  line-height: 40px;
  overflow: visible;
  color: var(--color-button-default);
  border-radius: var(--border-radius-button);
  background-color: transparent;

  &:disabled,
  &.disabled {
    pointer-events: none;
    cursor: default;
    color: var(--color-button-disabled);
  }
}

.tg-stroked-button {
  @extend .tg-button;
  border: 1px solid var(--border-color-stroked-button);
  color: var(--color-button-stroked);

  &:hover:not(:disabled):not(.disabled) {
    border-color: var(--background-color-stroked-button-hover);
    background-color: var(--background-color-stroked-button-hover);
    color: var(--color-button-stroked-hover);
  }

  &:disabled,
  &.disabled {
    border-color: var(--border-color-stroked-button-disable);
    color: var(--color-button-stroked-disable);
  }
}

.tg-flat-primary-button {
  @extend .tg-button;
  background-color: var(--background-color-flat-primary-button);
  color: var(--color-button-flat-primary);

  &:hover:not(:disabled):not(.disabled) {
    background-color: var(--background-color-flat-primary-button-hover);
  }

  &:disabled,
  &.disabled {
    color: var(--color-button-flat-primary-disable);
    background-color: var(--background-color-flat-primary-button-disable);
  }
}

.tg-flat-secondary-button {
  @extend .tg-button;
  background-color: var(--background-color-flat-secondary-button);
  color: var(--color-button-flat-secondary);

  &:hover:not(:disabled):not(.disabled) {
    color: var(--color-button-flat-secondary-hover);
    background-color: var(--background-color-flat-secondary-button-hover);
  }

  &:disabled,
  &.disabled {
    color: var(--color-button-flat-secondary-disable);
    background-color: var(--background-color-flat-secondary-button-disable);
  }
}
