.button.my-lal-button {
  color: var(--color-button-default);
  border-radius: var(--border-radius-button);

  &.mat-stroked-button {
    background-color: transparent;
    border-color: var(--border-color-stroked-button);
    color: var(--color-button-stroked);

    &:hover:not(.mat-button-disabled) {
      border-color: var(--background-color-stroked-button-hover);
      background-color: var(--background-color-stroked-button-hover);
      color: var(--color-button-stroked-hover);
    }

    &.mat-button-disabled {
      border-color: var(--border-color-stroked-button-disable);
      color: var(--color-button-stroked-disable);
    }
  }

  &.mat-flat-button {
    background-color: var(--background-color-flat-button);

    &:hover:not(.mat-button-disabled) {
      background-color: var(--background-color-stroked-button-hover);
    }

    &.mat-button-disabled {
      color: var(--color-button-default);
      background-color: var(--background-color-flat-button-disable);
    }
  }
}
