.checkbox.tp-checkbox {
  .mat-checkbox-inner-container {
    height: 16rem;
    width: 16rem;
  }

  .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: var(--border-radius-checkbox);
  }

  &.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--background-color-checkbox);
  }

  &:not(.mat-checkbox-disabled) {
    .mat-checkbox-background,
    .mat-checkbox-frame {
      border-color: var(--border-color-checkbox);
    }
  }
}

.tp-vertical-checkbox {
  .mat-checkbox-layout {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
  }
}

.tp-checkbox-buttons {
  background: linear-gradient(0deg, #F5F3FF, #F5F3FF), #EDEBF8;
  border-radius: 5px;

  .mat-checkbox-inner-container {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }
}

.mat-pseudo-checkbox {
  border-color: var(--border-color-checkbox) !important;
  border-radius: var(--border-radius-checkbox) !important;
  height: 16rem;
  width: 16rem;

  &-checked {
    background: var(--background-color-checkbox) !important;
  }
}
