@import 'abstracts/mixins';

.my-input-element {
  height: 34px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-radius: 8px;
  border: 1px solid gray;

  &:focus {
    border-color: blue;
  }

  &:disabled {
    border-color: rgba(gray, 30%);
  }
}
