.snackbar.tp-snackbar {
  background: var(--background-color-snackbar);
  border: 1rem solid var(--border-color-snackbar);
  border-radius: var(--border-radius-snackbar);
  box-shadow: var(--shadow-snackbar);
}
