.mat-tab-group.lesson-mode-tabs {

  $mat-tab-bar-height: 52px;
  height: 100%;
  position: relative;

  .mat-tab-label {
    height: 52px;

    &:first-of-type {
      border-radius: var(--border-radius-lesson-mode-tabs) 0 0 0;
    }
  }

  .mat-tab-labels {
    background: hsla(230, 19%, 94%, 0.5);
    border-radius: var(--border-radius-lesson-mode-tabs) 0 0 0;
  }

  .mat-tab-label, .mat-tab-link {
    color: var(--color-text-heading);
  }

  .mat-tab-body-wrapper {
    height: 100%;
    position: relative;
  }

  .mat-tab-label-active {
    background: #D8D2F8;
  }

  .mat-ink-bar {
    transition: unset;
    visibility: hidden !important;
  }
}
