<h2>Button and link</h2>

<div class="button-wrap">
  <button my-button>Basic</button>
  <button my-raised-button>Raised</button>
  <button my-stroked-button>Stroked</button>
</div>

<div class="button-wrap">
  <button my-button disabled>Basic disabled</button>
  <button my-raised-button disabled>Raised disabled</button>
  <button my-stroked-button disabled>Stroked disabled</button>
</div>

<div class="button-wrap">
  <a href="/" my-button>Link</a>
  <a href="/" my-raised-button>Link Raised</a>
  <a href="/" my-stroked-button>Link Stroked</a>
</div>

<div class="button-wrap">
  <a href="/" my-button disabled>Link disabled</a>
  <a href="/" my-raised-button disabled>Link Raised disabled</a>
  <a href="/" my-stroked-button disabled>Link Stroked disabled</a>
</div>

<div class="button-wrap">
  <a routerLink="/dashboard" my-button>Go to dashboard</a>
  <a routerLink="/users" my-button>Go to users</a>
</div>

<hr />

<h2>Input</h2>
<div class="input-wrap">
  <input myInput type="text" required />
</div>

<div class="input-wrap">
  <input myInput type="text" disabled />
</div>

<hr />

<h2>Icons</h2>

<!--<i class="icon-close"></i>
<i class="icon-user primary"></i>
<i class="icon-ic-delete-forever"></i>
<i class="icon-check-2"></i>-->
<mat-icon class="icon-demo" svgIcon="close" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
<mat-icon class="icon-demo" svgIcon="user" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
<mat-icon class="icon-demo" svgIcon="thumb-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
<br />
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21"
    stroke="#66686B"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
  <path
    d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z"
    stroke="#66686B"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  />
</svg>

<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px">
  <path d="M0 0h24v24H0z" fill="none" />
  <path
    d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1.91l-.01-.01L23 10z"
  />
</svg>

<!--<img class="close-icon" src="/assets/icons/close.svg" alt="close">-->
