$purple-heart: hsl(260, 62%, 45%);
$cerise: hsl(324, 75%, 55%);
$saffron: hsl(47, 92%, 57%);
$athens-gray: hsl(230, 19%, 94%); //#E3E4E8
$titan-white: hsl(250, 100%, 98%); //#F5F3FF
$moon-raker: hsl(250, 73%, 90%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$cod-gray: hsl(0, 0%, 11%);
$pomegranate: hsl(4, 90%, 58%);
$french-gray: hsl(231, 6%, 77%);
$whisper: hsl(246, 28%, 93%);
$dove-gray: hsl(0, 0%, 40%);
$snuff: hsl(249, 33%, 89%);
$grey: hsl(0, 0%, 51%); //#828282
$magnolia: hsl(255, 100%, 99%); //#FCFBFF

$teal-1: #367e7f;
$teal-2: #367e7f;
$teal-3: #367e7f;
$teal-4: #367e7f;
$teal-5: #367e7f;

$orange-1: #eb9a3f;
$orange-2: #efad5c;
$orange-3: #f3c083;
$orange-4: #f8d4ac;
$orange-5: #fbe8d6;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25,
    ),
    2: (
      $spacer * 0.5,
    ),
    3: $spacer,
    4: (
      $spacer * 1.5,
    ),
    5: (
      $spacer * 3,
    ),
  ),
  $spacers
);

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex, grid !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;

$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
