// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'src/styles/themes/palette';
@import '../abstracts/variables';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat-palette($md-primary);
$frontend-accent: mat-palette($md-secondary, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat-palette($md-warn);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat-light-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    ),
  )
);

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, sans-serif',
  $headline: mat-typography-level(var(--font-size-h1), var(--font-size-h1), bold),
  $title: mat-typography-level(var(--font-size-h2), var(--font-size-h2), bold),
  $subheading-2: mat-typography-level(var(--font-size-h3), var(--font-size-h3), bold),
  $button: mat-typography-level(var(--font-size-base), var(--font-size-base), 400),
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-theme);
@include angular-material-typography($custom-typography);
