$md-primary: (
  50: #fbe8d6,
  100: #fbe8d6,
  200: #f8d4ac,
  300: #f3c083,
  400: #efad5c,
  500: #eb9a3f,
  600: #eb9a3f,
  700: #eb9a3f,
  800: #eb9a3f,
  900: #eb9a3f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-secondary: (
  50: #d4e7e8,
  100: #d4e7e8,
  200: #a6cdcd,
  300: #7ab2b3,
  400: #529899,
  500: #367e7f,
  600: #367e7f,
  700: #367e7f,
  800: #367e7f,
  900: #367e7f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-warn: (
  50: #e5704c,
  100: #e5704c,
  200: #e5704c,
  300: #e5704c,
  400: #e5704c,
  500: #e5704c,
  600: #e5704c,
  700: #e5704c,
  800: #e5704c,
  900: #e5704c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
