.photos-list-page {

  &__cards {
    margin: 0 -8px;
  }

  &__card {
    margin: 8px;
    max-width: 400px;
  }

  &__header-image {
    background-size: cover;
  }

  &__title {
    max-width: 150px;
  }

  &__card-image-wrap {

  }

  &__card-image {
    height: 200px;
    object-fit: cover;
  }
}
