<div class="button-wrap">
  <button my-button>Basic</button>
  <button my-raised-button>Raised</button>
  <button my-stroked-button>Stroked</button>
</div>

<div class="button-wrap">
  <button my-button disabled>Basic disabled</button>
  <button my-raised-button disabled>Raised disabled</button>
  <button my-stroked-button disabled>Stroked disabled</button>
</div>

<div class="button-wrap">
  <a href="/lol" my-button>Link</a>
  <a href="/lol" my-raised-button>Link Raised</a>
  <a href="/lol" my-stroked-button>Link Stroked</a>
</div>

<div class="button-wrap">
  <a href="/lol" my-button disabled>Link disabled</a>
  <a href="/lol" my-raised-button disabled>Link Raised disabled</a>
  <a href="/lol" my-stroked-button disabled>Link Stroked disabled</a>
</div>

<hr>

<div class="input-wrap">
  <input myInput type="text" required>
</div>

<div class="input-wrap">
  <input myInput type="text" disabled>
</div>

