/* stylelint-disable */
[class*='icon-'] {
  &::before {
    color: var(--color-icon-default);
    display: inline-block;
    font-family: 'Glyphter';
    font-size: var(--size-icon-default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }

  &.primary::before {
    color: var(--color-icon-primary);
  }

  &.secondary::before {
    color: var(--color-icon-secondary);
  }
}

.icon-ic-delete-forever:before {
  content: '\0041';
}
.icon-close:before {
  content: '\0044';
}
.icon-check-2:before {
  content: '\0054';
}
.icon-user:before {
  content: '\0066';
}

// Modifiers
//.icon-prev::before {content: '\0070'; transform: rotate(180deg);}
//.icon-arrow-down::before {content: '\0070'; transform: rotate(90deg);}
